*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# CDF artifact directory
*.cdf

# Python artifacts
*.egg
*.egg-info
dist
build
*.pyc
*.log
.coverage
htmlcov