psycopg2-binary
swxsoc @ git+https://github.com/swxsoc/swxsoc.git@main
metatracker @ git+https://github.com/swxsoc/MetaTracker.git
hermes_spani @ git+https://github.com/HERMES-SOC/hermes_spani.git
hermes_eea @ git+https://github.com/HERMES-SOC/hermes_eea.git
hermes_nemisis @ git+https://github.com/HERMES-SOC/hermes_nemisis.git
hermes_merit @ git+https://github.com/HERMES-SOC/hermes_merit.git
